*{
    margin: 0px;
    padding:0px;
}
section{
    overflow: hidden;
    padding: 25px;
}
#ramka{
    width: 999px;
    margin-right: auto;
    margin-left: auto;
}
#naglowek{
    width: 100%;
    background-color: #fcf;
    color: #5e1138;
    font-family: Arial;
    font-style:italic;
    text-align: center;
    font-weight: bold;
}
#stopka{
    width: 100%;
    background-color: #c0c0c0;
    color: blue;
    font-family: Arial;
    font-style: italic;
    padding: 5px;
    text-align: center;
    clear:both;

}
.kolumny{
    margin-top: 10px;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 10px;
    background-color: #c0c0c0;
}
.artyk{
    padding: 5px;
    margin: 4px;
}

#kol1 {
    float: left;
    width: 30%;
}

#kol2 {
    float: left;
    width: 40%;
}

#kol3 {
    float: left;
    width: 30%;
}
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #33415d;
}

li{
    float: left;
}

li a{
    display: block;
    color: wheat;
    text-align: center;
    padding: 14px 16px;
    text-decoration: #0d6ba1;
}

li a:hover{
    text-decoration: #0d6ba1;
    background-color: blueviolet;
}